body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: antiquewhite;
}

.button-classic {
  border: 0px;
  padding: 10px 20px;
  background-color: white;
}

.button-classic:hover {
  background-color: #e6e6e6;
}

.border {
  color: #595959;
  background-color: white;
  padding: 10px 10px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}